<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.snipshot">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:name=".SnipShotApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnipShot"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SnipShot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot">
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot" />

        <activity
            android:name=".ImageDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot" />

        <activity
            android:name=".MangaResultActivity"
            android:exported="false"
            android:theme="@style/Theme.SnipShot" />

        <activity
            android:name=".SnipActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:exported="true" />

        <activity
            android:name=".SnipOverlayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity android:name=".HelpActivity" />
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".TranslateActivity" />
        <activity android:name=".OverlayActivity"/>

        <service android:name=".BubbleService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".ScreenCaptureService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>